body {
  margin: 0;
}

.white-text {
  color: hsl(0, 100%, 100%);
}

.grey-text {
  color: hsl(246, 25%, 77%);
}

.red-text {
  color: hsl(0, 100%, 74%);
}

.regular-text {
  font-weight: 400;
}

.medium-text {
  font-weight: 500;
}

.semi-bold-text {
  font-weight: 600;
}

.bold-text {
  font-weight: 700;
}

.light-opacity-text {
  opacity: 0.8;
}

.component-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 100vh;
  background: hsl(0, 100%, 74%) url("../images/bg-intro-desktop.png");
}

.component {
  display: flex;
  flex-direction: row;
  font-family: "Poppins", sans-serif;
  padding: 50px 120px;
  margin: 35px 0;
}

.text-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 100px;
}

.text-heading {
  font-size: 40px;
  line-height: 47px;
  width: 70%;
  margin-bottom: 10px;
}

.text-paragraph {
  font-size: 13px;
  line-height: 22px;
  width: 80%;
}

.form-section {
  display: flex;
  flex-direction: column;
}

.trial-banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: hsl(248, 32%, 49%);
  border-radius: 8px;
  padding: 15px 0;
  width: 500px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  margin-bottom: 20px;
}

.banner-text {
  font-size: 14px;
  margin: 0;
}

.form-container {
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 100%, 100%);
  border-radius: 8px;
  padding: 25px 40px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.signup-form input[type="text"],
.signup-form input[type="email"],
.signup-form input[type="password"] {
  display: block;
  width: 375px;
  border: 1px solid hsl(246, 25%, 77%);
  border-radius: 5px;
  padding: 15px 20px;
}

.signup-form input::placeholder {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.2px;
}

.signup-form input:focus {
  outline: 1px solid hsl(248, 32%, 49%);
}

.error-msg {
  align-self: flex-end;
  font-size: 9.5px;
  font-style: italic;
  width: fit-content;
  color: hsl(0, 100%, 74%);
  margin: 5px 5px 0 0;
}

.error-icon {
  position: absolute;
  width: 21px;
  transform: translate(380px, 14px);
}

.submit-input {
  background-color: hsl(154, 59%, 51%);
  font-size: 12px;
  width: 100%;
  border: 0;
  border-radius: 4px;
  letter-spacing: 1px;
  padding: 15px 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  transition: 0.2s;
}

.submit-input:hover {
  cursor: pointer;
  opacity: 0.7;
}

.tos-disclaimer {
  font-size: 10px;
  text-align: center;
  letter-spacing: 0.1px;
}

.tos-link:hover {
  cursor: pointer;
}
